.inputSearch{
    border-bottom-left-radius: 20rem;
    border-top-left-radius: 20rem;
    border: 2px solid #ec4343;
    border-bottom-right-radius: none;
    border-top-right-radius: none;
    transition: .5s;
  /* color: ; */
    &:hover,
    &:focus{
        box-shadow: 0 0 0 1px rgb(231, 66, 94), 0 0 0 1px #FF0505;
    }
}
.inputSearch::placeholder{
    font-size: 1rem;
    color: rgb(173, 163, 163);
}

.buttonSearch{
    border-bottom-right-radius: 20rem;
    border-top-right-radius: 20rem;
    border: 2px solid #ec4343;
    transition: .5s;
    border-left: none;

    &:hover,
    &:focus{
        box-shadow: 0 0 0 1px rgb(231, 66, 94), 0 0 0 1px #FF0505;
    }
}
.sectionBalck{
    width: 100%;
    height: 100%;
}