.logo{
    & img{
        width: 10rem;
    }
}
/* .iconBuy span{
    background-color: #FF0505;
    height: 100%;
    width: 1px;
} */
.profile{
   & img{
    width:3.5rem;
    border:2px solid #FF0505;
    border-radius:10rem
   }
}